/* google font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');

:root {
  --primary: #1aac83;
  --error: #ff0101;
}

body{
  background: #f1eded;
  margin: 0;
  font-family: "Comfortaa";
}

header{
  background: #ffffff;
  
}

header .container{
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2% 4%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: rgb(94, 90, 90);
  text-decoration-line: none;
}

.pages{
  padding: 2%;
  margin: 0 auto;
  background: #b1bdba;

}

.dream-details{
  background: #f1eded;
  border-radius: 4px;
  margin: 2%;
  padding-left: 2%;
  padding-bottom: 0.01%;
  padding-top: 0.01%;
  position: relative;
  box-shadow: 2px 2px 5px #000000;
}

.dream-details h4{
  font-size: 1.2em;
  color: var(--primary); 
}

.dream-details p{
  font-size: 1em;
  color: #3f4342;
}

.dream-details span{
  position: relative;  
}

.dreams h3{
  font-size: 1.5em;
  color: #000000;
}


label, input{
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* width: 100%; */
  border: 1px solid #ddd; 
  border-radius: 4px;
  box-sizing: border-box;
}

/* form button{
  background: var(--primary);
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  font-family:"Comfortaa" ;
  cursor: pointer;
} */

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #ddd; 
  border-radius: 4px;
  color: var(--error);
  margin: 20px 0;
}

.btn-edit{
  background: var(--primary);
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  font-family:"Comfortaa" ;
  cursor: pointer;
}